.register-photo {
  background:#f1f7fc;
  padding:80px 0;
}

/* FORM CONTAINER */
.register-photo .form-container {
  display:table;
  max-width:900px;
  width:90%;
  margin:0 auto;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  padding: 1.5%;
}

/* FORM GROUPS */
.form-group {
  margin-bottom:1rem;
}

.register-photo form {
  display:table-cell;
  width:400px;
  background-color:#ffffff;
  padding:40px 60px;
  color:#505e6c;
}


.register-photo form .form-control {
  background:#f7f9fc;
  border:none;
  border-bottom:1px solid #dfe7f1;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:6px;
  height:40px;
}

.form-check-input {
  position:absolute;
  margin-top:.3rem;
  margin-left:-1.25rem;
}

.myColStyle {
  float: left;
}

.invalidInput {
  border:solid 2px #dc35467c;
}
