<section class="clean-block clean-form dark" style="background-color:rgb(255,255,255);">
        <div class="container">
            <div class="block-heading">
                <h4 class="text-center text-success">GIVE US YOUR FEEDBACK</h4>
                <form>
                    <div class="form-group">
                        <label class="float-left">How would you rate us?</label>
                        <select class="form-control"><optgroup label="Choose an option">
                            <option value="5" selected="">Excelent</option>
                            <option value="4">Good</option>
                            <option value="3">Normal</option>
                            <option value="2">Bad</option>
                            <option value="1">Very Bad</option>
                        </optgroup>
                    </select>
                    </div>
                    <div class="form-group">
                        <label class="float-left">Name:</label>
                        <input class="form-control" type="text" placeholder="e.g. John Wick"></div>
            <div class="form-group">
                <label class="float-left">Email:</label>
                <input class="form-control" type="text" required="" placeholder="email@example.com" inputmode="email"></div>
            <div class="form-group">
                <label class="float-left">Your Message:</label>
                <textarea class="form-control" required="" placeholder="Maximum of 200 Letters" minlength="1"></textarea>
            </div>
                <button class="btn btn-success btn-block" type="button">Send</button>
            </form>
        </div>
        </div>
</section>

