<div class="alert alert-success text-center" [style.display]='messageWasSent' >Message sent!</div>
<div class="alert alert-danger text-center" [style.display]='messageWasNotSent'>Missing one or more Fields.</div>
<section class="clean-block clean-form dark" style="background-color:rgb(255,255,255);">
        <div class="container">
            <div class="block-heading">
                <h4 class="text-center text-success">GIVE US YOUR FEEDBACK</h4>
                <form>
                    <div class="form-group">
                        <label class="float-left">How would you rate us?</label>
                        <select class="form-control" [(ngModel)]="rating" name="rating">
                            <optgroup label="Choose an option">
                            <option value="Excelent" selected="">Excelent</option>
                            <option value="Good">Good</option>
                            <option value="Average">Normal</option>
                            <option value="Bad">Bad</option>
                            <option value="Very Bad">Very Bad</option>
                        </optgroup>
                    </select>
                    </div>
                    <div class="form-group">
                        <label class="float-left">Name:</label>
                        <input class="form-control" type="text" [(ngModel)]="nameToContact" name="nameToContact" placeholder="e.g. John Wick"></div>
            <div class="form-group">
                <label class="float-left">Email:</label>
                <input class="form-control" type="text" [(ngModel)]="emailToContact" name="emailToContact" required="" placeholder="email@example.com" inputmode="email"></div>
                <div class="text-center alert-danger" [style.display]='emailIsNotValid'>Invalid Email.</div>
                <div class="form-group">
                <label class="float-left">Your Message:</label>
                <textarea class="form-control" [(ngModel)]="messageToContact" name="messageToContact" required="" placeholder="Maximum of 200 Letters" minlength="1"></textarea>
            </div>
                <button class="btn btn-success btn-block" type="button" (click)="sendContactMessage()">Send</button>
            </form>
        </div>
        </div>
</section>

