    <div class="container">
        <h4 class="text-info title">SHOPPING CART</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ITEMS</th>
                        <th>PRICE</th>
                        <th>QUANTITY</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Item 1</td>
                        <td>29.99€</td>
                        <td>x 1 
                            <button>+</button>
                            <button>-</button>
                        </td>
                        <td>29.99€</td>
                    </tr>
                </tbody>
            </table>
        <div class="myImagesStyle">
        <h6>Accepted Payment Methods</h6>
            <img class="img-fluid" src="../../../assets/my-project-images/americanexpress.png" width="30">
            <img class="img-fluid" src="../../../assets/my-project-images/visa.svg" width="30" />
            <img class="img-fluid" src="../../../assets/my-project-images/maestro.png" width="30" />
            <img class="img-fluid" src="../../../assets/my-project-images/mastercard.svg" width="30" />
            <img class="img-fluid" src="../../../assets/my-project-images/americanexpress.png" width="30" />
            <img class="img-fluid" src="../../../assets/my-project-images/paypal.svg" width="30" />
        </div>
        <div class="myButtons">
                <button class="btn btn-outline-primary btn-block btn-sm" routerLink="/checkout"> CHECKOUT </button>
                <button class="btn btn-outline-primary btn-block btn-sm" routerLink="/t-shirts"> CONTINUE SHOPPING </button>
        </div>  
    </div>