    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h4 class="text-info">FREQUENTLY ASKED QUESTIONS</h4>
                <div class="card">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-dark card-title mb-2">Why buy products online?</h6>
                            <h6 class="text-center text-muted card-title mb-2">We only operate online and that's how we can keep our high quality products so competitive.</h6>
                        </div>
                        <div class="card-body">
                            <h6 class="text-center text-dark card-title mb-2">How long does it take to get my package?</h6>
                            <h6 class="text-center text-muted card-title mb-2">Normally it takes 3 to 5 working days after payment confirmation.&nbsp;</h6>
                        </div>
                        <div class="card-body">
                            <h6 class="text-center text-dark card-title mb-2">What size should I choose?</h6>
                            <h6 class="text-center text-muted card-title mb-2">Check our size table to find the size that best fits you.</h6>
                        </div>
                        <div class="card-body">
                            <h6 class="text-center text-dark card-title mb-2">I want to return the package, how should I proceed?</h6>
                            <h6 class="text-center text-muted card-title mb-2">We acept refunds up to 30 days after item purchase. 
                                You can choose between item trade or total refund which will be made to the same account that was used to make the payment.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>