<div class="contact-clean" style="background-color:rgb(255,255,255);">
    <h5 class="text-center text-info">&nbsp;</h5>
    <form method="post">
        <h4 class="text-center text-info">SIZE TABLE</h4>
        <div class="table-responsive table-bordered">
            <table class="table table-striped table-bordered table-sm">
                <caption><img class="img-fluid align-content-center" src="../../../assets/my-project-images/size.png" width="200"></caption>
                <thead>
                    <tr>
                        <th>Alphabetic Scale</th>
                        <th>XS</th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                        <th>2XL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                    <tr>
                        <td><strong>Numeric Scale</strong></td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td><strong>A. Chest (cm)</strong></td>
                        <td>87</td>
                        <td>90-93</td>
                        <td>97-101</td>
                        <td>105-109</td>
                        <td>113-117</td>
                        <td>121-125</td>
                    </tr>
                    <tr>
                        <td><strong>Chest (inch)</strong><br></td>
                        <td>34</td>
                        <td>35-37</td>
                        <td>38-40</td>
                        <td>41-43</td>
                        <td>44-46</td>
                        <td>48-49</td>
                    </tr>
                    <tr>
                        <td><strong>B. Pants (cm)</strong><br></td>
                        <td>73</td>
                        <td>77-81</td>
                        <td>85-89</td>
                        <td>93-97</td>
                        <td>101-106</td>
                        <td>111-116</td>
                    </tr>
                    <tr>
                        <td><strong>Pants size (inch)</strong><br></td>
                        <td>28</td>
                        <td>30-31</td>
                        <td>33-35</td>
                        <td>36-38</td>
                        <td>39-42</td>
                        <td>44-46</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>