<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" routerLink="/">CHITTA</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item" role="presentation" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/">HOME </a></li>
                                <li class="nav-item" role="presentation" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/about-us">ABOUT US</a></li>
                                <li class="nav-item" role="presentation" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/t-shirts">T-SHIRTS</a></li>
                                <li class="nav-item" role="presentation" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/polos">POLOS</a></li>
                                <li class="nav-item" role="presentation" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/contact-us">CONTACT US</a></li>
                                <li class="nav-item" role="presentation" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/shopping-cart"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
        </div>
</nav>
