<footer class="page-footer dark">
        <div class="row">
            <div class="col-sm-3">
                 <h5>Home</h5>
                <ul>
                    <li><a routerLink="/">Home Page</a></li>
                    <li><a routerLink="/about-us">Shipping</a></li>
                    <li><a routerLink="/shopping-cart">Shopping Cart</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>About us</h5>
                <ul>
                    <li><a routerLink="/about-us">Company Information</a></li>
                    <li><a routerLink="/contact-us">Contact us</a></li>
                    <li><a routerLink="/feedback">Give feedback&nbsp;</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Our Collection</h5>
                <ul>
                    <li><a routerLink="/size-calculator">Discover your size</a></li>
                    <li><a routerLink="/t-shirts">T-Shirts</a></li>
                    <li><a routerLink="/polos">Polos</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Support and Legal</h5>
                <ul>
                    <li><a routerLink="/faq">FAQ</a></li>
                    <li><a routerLink="/terms-and-conditions">Terms and Conditions</a></li>
                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    <div class="clean-block add-on social-icons">
        <div class="icons">
            <a href="https://www.facebook.com/Vinti-Tri-103694794426767" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/vinti_tri/" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
    </div>
    <div class="footer-copyright">
        <p>VINTI-TRI © 2020| vinti.tri.shop@gmail.com</p>
        <img src="../../../assets/my-project-images/paymentMethods.jpg" width="200"></div>
</footer>